@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Voyage";
  src: url("/fonts/Voyage-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "Voyage", serif !important;
  }
}
